.page1 {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* header */

.header-style {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 16px;
    background-color: #213B7E;
    min-height: 80px;
    width: 1300px;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;

}

.img-style {
    width: 523px;
    height: 316px;
}

.table-style {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration-line: underline;
}

.table-style > .li-style {
    display: flex;
}


.li-style {
    min-height: 80px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.li-style:hover {
    color:#213B7E;
    background-color:#FFFFFF; 
}

.active-page {
    color:#213B7E;
    background-color:#FFFFFF;
    text-decoration: none;
}

.log-in-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA5D21;
    width: 153px;
    height: 50px;
}

.log-link-style {
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 18px;
}

/* Popup */

.login-frame {
    display: none;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 500px;
    height: 418px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    transform: translate(-122%, 79%);
    padding: 26px 28px 56px;
    align-items: center;
    justify-content: space-around;
}


.login-heading {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-bottom: 36px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.popup-form > input {
    width: 100%;
    max-width: 500px;
    border: 1px solid #808080;
}

.input-login {
    box-sizing: border-box;
    width: 444px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #808080;
    margin: 0 auto;
    font-size: 24px;
    font: Roboto;
    padding: 14px 17px 10px; 
}

.input-password {
    box-sizing: border-box;
    width: 444px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #808080;
    margin: 49px auto;
    font-size: 24px;
    font: Roboto;
    padding: 14px 17px 10px; 
}

.button-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 50px;
    background: #EA6113;
    font-size: 18px;
    font: Roboto;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
}

.popup-visible {
    display: block;
}


/* main */

.main-style {
   width: 911px; 
   margin: 0px;
   font-family: Roboto;
   flex-grow: 1;
}

h1 {
    font-size: 30px;
    padding: 0px;
    margin: 33px 0px 25px 0px;
}

h2 {
    font-size: 25px;
    font-weight: normal;
    padding: 0px;
    margin: 15px 0px;
}

.p-style {
    font-size: 18px;
    font-weight: normal;
    width: 634px;
    padding: 0px;
    margin: 0px;
}

em {
    color: #CF5510;
}

/* .space {
    min-height: 17vh;
} */


/* footer */

.footer-style {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px 15px;
    background-color: #213B7E;
    min-height: 60px;
    width: 1300px;
    font-family: Roboto;
}

.copyright {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-link-style {
    color: rgba(255, 255, 255, 0.5);
}

/* Media query */

@media (max-width: 1332px){
.header-style {
    max-width: 100%;
}

.img-style {
    max-width: 100%;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.main-style {
    max-width: 100%;
}

.p-style {
    max-width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.media-h1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.media-h2 {
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.footer-style {
    max-width: 100%;
}
}


@media (max-width: 747px){
.table-style {
    display: flex;
    flex-wrap: wrap;
}

.log-in-style {
    flex-shrink: 0;
    margin-bottom: 1em;
}
}

@media (max-width: 375px){
    .header-style {
    display: flex;
    flex-wrap: wrap;
    }

    .logo-media {
        margin-top: 1em;
    }
}